[2021-12-24 19:33] Bad3r opened #1 "Frontmatter is included in ToC"
Hi,

Thanks for making this cool plugin!

I noticed that when specifying level `1` and referencing a page that includes frontmatter. The properties will be included as a heading 

[code]

Rendered:

![](https://user-images.githubusercontent.com/25513724/147370244-470b83c6-a58f-4d84-b841-9093df306646.png)

Would it be possible to make the plugin only display bullets that are a heading `H1, H2, H3,

[2021-12-25 00:35] sethyuan commented on #1
@Bad3r  Thanks for letting know of this issue, I'll investigate it. I can probably have a fixed version released this weekend.

As for displaying only for headings, I don't want it to be the only option, maybe I can add it as an optional feature that you can turn on through parameters and plugin settings.

BTW, I recently added a feature for generating TOC for a block instead of a page. You're wel

[2021-12-25 01:13] Bad3r commented on #1
@sethyuan thsnk you. I look forward to the update.
Adding it as feature would be awesome.

[2021-12-25 06:44] sethyuan commented on #1
@Bad3r A new version (v1.2.0) is released with this bug fixed. I also implemented "heading only" TOC as you suggested. You need to update the macro to accept a 3rd argument if you want to use this feature. I updated the README to reflect this.

[2021-12-27 17:44] Bad3r commented on #1
@sethyuan Awesome thank you works perfectly!

[2021-12-27 17:44] #1 closed

[2021-12-27 17:46] Bad3r opened #2 "Markdown links not rendered correctly"
If a bullet or a header contains a link e.g. `[]()` It's not rendered correctly

![](https://user-images.githubusercontent.com/25513724/147495411-d32f965f-9d8b-42d6-aad4-9ac6c0f7242a.png)

[2021-12-28 02:29] sethyuan commented on #2
Thanks for reporting! I realized that my processing is not rigorous enough, specifically I didn't handle any markdown beside headings, though I did handle page/block references. I'll work on this.

[2021-12-28 03:40] sethyuan commented on #2
@Bad3r  Done, markdown handling is implemented. Please check the newest version.

[2021-12-28 04:20] Bad3r commented on #2
@sethyuan Awesome! Thank you! Just tested it and can confirm its working as expected.

[2021-12-28 04:20] #2 closed

[2021-12-31 14:13] myownstandard opened #3 "Plugin is not working"
Logseq 0.5.6 Mac os.
I have installed plugin from Marketplace.
Than i have Inserted {{{toc [[pagename]]}}} into my page. And it is highlighting red and not generating any table of content..

[2021-12-31 14:16] myownstandard commented on #3
<img width="778" alt="Снимок экрана 2021-12-31 в 17 16 22" src="https://user-images.githubusercontent.com/78643199/147827752-3945b00a-5396-4b97-b69f-f475e8e27f08.png">

[2021-12-31 14:23] sethyuan commented on #3
Have you tried setting up macros? You can follow the instructions in README. You can also try to directly use `{{renderer :tocgen, [[pagename]]}}` to create TOC if you don't want to setup macros. Still, I'd recommend you to read README for more options.

[2021-12-31 14:28] sethyuan commented on #3
Oh, I see you're using namespace. I tried it myself, the plugin does have an issue handling namespaced pages, I'll look into it and I'll let you know once I have it fixed.

[2021-12-31 14:45] sethyuan commented on #3
@myownstandard I fixed the namespace issue and released a new version. You can give it try.

[2022-01-03 09:49] sethyuan commented on #3
@myownstandard I released a new version providing a new slash command "Table of Contents", you use can it instead of macros, please check the usage demo in REAMDE.

[2022-01-03 09:49] #3 closed

[2022-01-03 16:45] zllx666 opened #5 "Plugin not working when using namespace"
Logseq 0.5.6
tocgen 1.3
When Inserted command {{{toc [[pagename]]}}} into my page. The command disappear and not generating any table of content.
This happens when the page has 3 levels, the plugin works good if the page only has 2 levels.

e.g., I have 3 pages [[AA/BB/CC]], I can generate TOC for page BB using command {{{toc [[AA/BB]] }}}, but I cannot generate TOC for page CC using command {{{to

[2022-01-04 08:42] WsinGithub opened #6 "一些特殊字符譬如 - > & 无法正确显示"

[2022-01-04 11:03] sethyuan commented on #6
解决掉了，麻烦更新下新版本验证下。

[2022-01-04 11:04] sethyuan commented on #5
It should be fixe now, please upgrade the plugin and give it a try.

[2022-01-04 14:34] WsinGithub commented on #6
可以了，感谢~

[2022-01-04 14:34] #6 closed

[2022-01-04 15:23] zllx666 commented on #5
It's working now, thanks for the awesome plugin.

[2022-01-04 15:28] sethyuan commented on #5
Glad you like it! 😃

[2022-01-04 15:28] #5 closed

[2022-01-07 03:00] JJAYCHEN1e opened #7 "Feature Requests: Right Sidebar & Interaction Detail Optimization"
Thanks for you contribution, I love this plugin so much.

It will be nice if it also supports:
- Show generated TOC in right sidebar(similar to [logseq-toc-plugin](https://github.com/hkgnp/logseq-toc-plugin)).
- Quickly add the TOC of current page(Some pages don't show in the `[[` query in some cases, and I need to manually copy the page name and paste it.)
- When clicking a item in the generated

[2022-01-07 05:50] sethyuan commented on #7
Glad you like it!

1. You can create a TOC in any page that's opened in the right sidebar, e.g. Contents. In fact, I designed it exactly to be used this way.
2. I can implement this, I'll let you know when I'm done.
3. It can be done by clicking the `page` link. I kind of prefer to offer simple and consistent behaviors to users.

![image](https://user-images.githubusercontent.com/3410293/148498267

[2022-01-07 06:15] JJAYCHEN1e commented on #7
@sethyuan Thanks for your reply! Point 1 works great for me. And for point 3, it works fine in most cases, but seems to be broken when the corresponding block was collapsed.

[2022-01-07 06:51] sethyuan commented on #7
Good catch. Unfortunately, this goto behavior is provided by the plugin SDK, I cannot fix it on my side. Maybe you can create an issue ticket to the Logseq team?

[2022-01-07 07:22] sethyuan commented on #7
@JJAYCHEN1e point 2 is implemented and a new version is released.

[2022-01-07 07:32] JJAYCHEN1e commented on #7
Thanks! It works great for me.

[2022-01-07 07:53] JJAYCHEN1e commented on #7
This works pretty well with right sidebar, it can easily show current page's TOC. But currently it won't refresh after jumping to a new page, I need to make changes to the content to trigger the refresh. Could jumping action trigger an event, refreshing the TOC automatically?

[2022-01-07 08:51] sethyuan commented on #7
Interesting, I didn't expect that it could be used in this way. I'll investigate how to detect page changes, triggering event upon jumping can only solve half the problem, a page change can be triggered in a lot of ways.

Thanks for letting know of this interesting usage!

[2022-01-07 14:17] sethyuan commented on #7
@JJAYCHEN1e I thought about it again, no named TOC should really go along with the page it resides on. It shouldn't change with the currently browsing page. For that, I choose to use `*` as the page name when creating TOC.

I released a new version with this implemented, you're welcome to give it a try. I also updated the README to document how to use this feature.

[2022-01-07 17:31] JJAYCHEN1e commented on #7
@sethyuan I've tried it, it's fantastic. Thanks!

[2022-01-11 22:33] nhan000 commented on #7
TOC still doesn't show up in the right sidebar for me. It works in the main windows, but when I shift click that block, the block shows up as blank in the right sidebar.

[2022-01-12 00:33] sethyuan commented on #7
@nhan000 I see. This is not how I designed it to be used, but I think your way of using it should also be supported. I'll investigate the problem here, meanwhile, your can open any page in the right sidebar, e.g. "Contents" that opens by default, and create there another TOC by specifying the page name. Say your page is called "abc", you can then create a TOC by typing `{{renderer :tocgen, [[abc]]

[2022-01-12 01:20] sethyuan commented on #7
@nhan000 I implemented it and released a new version, can you try it?

[2022-01-12 02:40] nhan000 commented on #7
works great! thanks a lot!

[2022-01-12 10:01] cloudrflight opened #8 "[feature request]new Option:Show The First Line of a Heading"
Have a look at this ex. below:
[code]
use tocgen plugin code ' {{renderer :tocgen , [[my page]],6,h }}',become to this:
[code]
actually,I want to show that like this:
[code]
So,I'd like to request to show only'the first line'

[2022-01-12 10:19] #7 closed

[2022-01-12 10:27] sethyuan commented on #8
Are you using the latest version of the plugin? Currently, block properties are removed from the content, so, the latest plugin would show something like this:

![image](https://user-images.githubusercontent.com/3410293/149122693-c29b2b3d-e059-40c5-b9ec-7b436e88f3c6.png)

It's not quite what you want, but I don't think block properties should be displayed in title, what I can do, is to only use th

[2022-01-12 12:16] sethyuan commented on #8
I built a new version with this behavior. That is, only use the first line as title.

[2022-01-12 12:41] JJAYCHEN1e opened #9 "[Feature Request] Collapse the whole TOC"
Since I'm getting a longer page, the TOC in the right sidebar is also going to be much longer. It would be nice if the TOC itself can be collapsed.

[2022-01-12 14:45] sethyuan commented on #9
Fair enough, I'll look into it tomorrow, it's a bit late now.

[2022-01-13 02:56] sethyuan commented on #9
@JJAYCHEN1e  Done. Please give new version a try.

[2022-01-13 05:26] JJAYCHEN1e commented on #9
@sethyuan It's so nice, thank you! I'll close this issue.

[2022-01-13 05:26] #9 closed

[2022-01-13 08:10] cloudrflight commented on #8
That's exactly what I need(v1.6.0) , Thx a lot!

By the way,I'm coming to a new problem,My note use datomic like

[2022-01-13 08:21] cloudrflight commented on #8
I use a lot datomic [advance queries](https://docs.logseq.com/#/page/Advanced%20Queries) to organize my page view like (get all feathers in last 10 day)
[code]
Preview like:
[code]
Could I request a new feature for **showing the heading in the queries**?

[2022-01-13 08:30] sethyuan commented on #8
Can you elaborate? You want the query result be part of the TOC?

[2022-01-13 08:54] cloudrflight commented on #8
Yes,I want to build outline of "my page" , "my page" made by a queries of many pages  ,not a single [[page]];

for ex:
[code]
and preview is:
[code]
I want toc to show:
[code]

[2022-01-13 09:54] sethyuan commented on #8
Interesting, I'm not sure if this is appropriate to do though. I think it's better to have another plugin to pull query results into the current page, then use tocgen to generate TOC as would normally do. Processing of query results shouldn't be part of a plugin like this.

[2022-01-13 09:54] #8 closed

[2022-01-17 01:29] sethyuan commented on #7
@nhan000 Implemented, please give new version a try.

[2022-01-17 01:40] nhan000 commented on #7
works great! Thanks a lot!

[2022-01-17 11:26] myownstandard opened #10 "Feature request - open in right side panel on Shift+Click"
It would be great! Thank you!

[2022-01-17 12:13] sethyuan commented on #10
You can shift click on the bullet right now to have it opened in the right sidebar. I'll look if I can make this behavior for the TOC itself later.

[2022-01-18 00:53] sethyuan commented on #10
@myownstandard It's implemented, please give new version a try.

[2022-01-18 10:13] nhan000 commented on #10
If I click on the first line of the TOC, it opens the TOC block on the right sidebar.
If I click on the content of the TOC, it is opened in the main window. I'd expect (and would like) this behavior where the clicked content is opened in the ride sidebar instead of above since I can just shift click the bullet to open the TOC block on the right sidebar?

[2022-01-18 12:02] sethyuan commented on #10
Good point. So the desired behavior would be this:

- Shift clicking the bullet or selecting from the block's context menu will open the TOC in the right sidebar.
- Shift clicking on items on the TOC will open that item's block in the right sidebar.

[2022-01-18 12:29] sethyuan commented on #10
Done. Can you give it a try?

[2022-01-18 12:33] nhan000 commented on #10
works great! Thanks a lot!

[2022-01-19 02:24] #10 closed

[2022-01-19 15:21] ffywhxf opened #11 "请问如何只显示一级标题和二级标题"
如题
一级标题和二级标题之间没有缩进

[2022-01-20 00:35] sethyuan commented on #11
@ffywhxf 插件是通过缩进来判断目录层级的，没有缩进会存在不好处理的歧义。例如，先出现一个二级标题再出现一个一级标题，这种情况下要如何组织目录呢？又或者，我没有用一级标题，全都是用的二级和三级。各种情况会导致处理复杂度上升但又没有带来收益。Logseq本来就是一个大纲型笔记，使用缩进来表现层级关系非常正常。

如果你仅是希望在阅读时没有那么多缩进影响视觉效果的话，你可以尝试我的另一个插件： https://github.com/sethyuan/logseq-plugin-doc
在插件市场里也能下载到，叫Doc View Exporter。它提供了一个只读的文档视图，可以认为是一种预览，并提供了导出的功能。

[2022-01-20 14:46] #11 closed

[2022-01-25 07:29] ffywhxf opened #12 "logseq更新到0.5.9后，因其lazy loading导致目录不到转跳到页面"
如题，
长文章直接点后边的章节，不能转跳了。

[2022-01-25 08:08] sethyuan commented on #12
我还真没注意过长文章的情况。等稍后有空我先造个长文章看看现在的效果是什么样的。

[2022-01-25 09:00] sethyuan commented on #12
@ffywhxf 我看了长文章下的效果了，很可惜，就目前的插件框架来说是没有办法解决的，只能将这个问题汇报到Logseq那儿。

[2022-01-25 13:00] sethyuan commented on #12
@ffywhxf 我知会给Logseq团队了，他们说会处理这个问题。

[2022-01-26 07:38] ffywhxf commented on #12
感谢作者您的回复。
Logseq团队应该也注意到了，有了lazy loading，当前页面的搜索结果，也不能转跳了。

[2022-01-27 13:56] nhan000 opened #13 "Recognize heading using metadata instead of `#`"
When set a block as a heading in Logseq, I right click a block -> `convert to a heading`. Logseq then add `heading:: true` as a property for that block.

I prefer this over using `#` because the heading will automatically change its level base on how deep it is nested, so when I move the blocks around I don't have to change the number of `#`

This heading currently is not supported by tocgen plugi

[2022-01-27 14:45] sethyuan commented on #13
Great suggestion! Personally I never used the heading feature you mentioned. I think it’s doable, I’ll let you know when I have it implemented.

[2022-01-28 01:39] sethyuan commented on #13
@nhan000 It's implemented.

[2022-01-28 14:12] nhan000 commented on #13
https://user-images.githubusercontent.com/85216095/151561062-d7f7f595-d99d-4de6-82cb-c85431a8130f.mp4

I've tried it a few times and it's not working for me. When I add `h` the rendered TOC is really off.

For a mock page that have a few and simple blocks, at the first few tries it rendered correctly, but then it no longer works as expected.
For a real page that I use for my university coursework,

[2022-01-29 02:28] sethyuan commented on #13
Thanks for providing this detailed screenshot! I see you're using links from PDF files. I'll investigate.

[2022-01-29 02:52] sethyuan commented on #13
Hi @nhan000 , I tried PDF links as you demonstrated but found no problem at all. I'm wondering if it could be a compatibility issue with other plugins?

Also, in your case, it's more appropriate to use `[[]]` as page name instead of `*`, `*` means active main page, which change depending how you are displaying the page, `[[]]` instead, will always follow the page the TOC belongs to.

[2022-01-29 02:58] sethyuan commented on #13
BTW, what version of Logseq are you using?

[2022-01-29 05:26] nhan000 commented on #13
I'm using 0.5.9 official beta (not nightly)
I've turned off other plug-ins, closed and reopened Logseq, and still see the buggy behavior. (let me know if I have to uninstall them to test)
I've change `*` to `[[]]` and it didn't help.
Btw, I don't understand what's the difference between `[[]]` and `*`. `*` means active main page => when I zoom in a block the TOC will be rendered differently (only

[2022-01-29 05:34] sethyuan commented on #13
I'm using 0.5.9 too. Is it possible you give me a copy of the page that have this issue?

Regarding the `*` behavior, you can refer to the README, which I just updated to reflect its typical usage.

[2022-01-29 06:15] nhan000 commented on #13
You can download a copy of my Graph that has the 2 pages (together with the pdf and annotations) [here](https://drive.google.com/drive/folders/1vPTHyy5L7h_ToiBC-bMEai_ZzdPV0-yI?usp=sharing)

Okay I think I understand the dynamic TOC now. Is it that if we have the dynamic TOC on the right sidebar, in the Contents page, it will automatically renders the TOC for the page opened in the main panel? Tha

[2022-01-29 08:47] sethyuan commented on #13
Your copy was very helpful in debugging the problem. I've located the issue and fixed it, please give new version a try.

Regarding the dynamic TOC, yes, it changes automatically depending on what page you're currently working on and, no, you don't need to change default settings if you specify all the parameters.

[2022-01-29 10:08] nhan000 commented on #13
works amazing! :) Thank you so so much!

[2022-01-29 11:46] sethyuan commented on #13
Glad I can help!

[2022-01-30 03:54] #13 closed

[2022-02-13 15:17] aiyou9 opened #14 "大纲目录的新功能需求，大佬看看值不值得淦一个插件"
[Create a title preview to quickly adjust the title of the line when writing - Feature Requests - Logseq](https://discuss.logseq.com/t/create-a-title-preview-to-quickly-adjust-the-title-of-the-line-when-writing/5474)
我提了一个功能，大佬看看值不值得淦一个插件
需求描述：

在观看视频和阅读文章时，记笔记，通常需要根据文章的逻辑，不断在不同标题级别下，摘录一些关键语录，但行数太多，看不到顶部的标题，无法快速切换到之前的标题下，进行输入。因此，我觉得需要在当前输入的行，使用快捷键，快速调出一个大纲标题预览悬浮窗口，以便指导，快速调整当前输入行，所在的大纲标题级别。

一些截图：

[2022-02-13 15:33] aiyou9 commented on #14
或者在页面顶部用面包屑导航，或导航键提醒？

[2022-02-14 02:01] sethyuan commented on #14
意思是想快速定位到某个标题在它下面进行输入？那是不是可以通过将TOC打开至右侧边栏来实现？你可以shift点击TOC的小圆点将其打开至侧边栏。

[2022-02-15 00:04] hdg8087 commented on #12
假如我有1000个页面，每个都想要页内目录，怎么办呢？
总不能都写在Contents中吧？Contents中的位置也很有限、很宝贵的。

[2022-02-15 00:38] sethyuan commented on #12
虽然你的问题和这个issue不相关，但你可以尝试像我一样，在Contents中建一个动态TOC，它会随页面变化而变化。详见README中的动画演示。

[2022-02-15 10:55] aiyou9 opened #15 "功能建议：实时聚焦当前输入行，右边目录能自动定位，指示当前输入行所在目录层级"

[2022-02-15 11:03] sethyuan commented on #15
你想象的效果具体一点是什么样的呢？有没有示意图之类的？现在的描述太模糊了，我没太理解到。

[2022-02-15 12:42] sethyuan commented on #15
OK，明白了，很清晰。我也觉得这是一个很有用的功能，我想想看怎么实现，尽量把它做出来。

[2022-02-15 14:34] aiyou9 commented on #14
与 #15 类似的目的，但是更为快捷，目光不离开当前页面，可能码字更爽，

如果点击这个issue #14 描述的弹出窗口中，显示当前页面的目录标题，并支持与主窗口一样的编辑功能，更适于梳理写作的大纲逻辑。

有一个参考插件，[logseq-plugin-link-preview ](https://github.com/pengx17/logseq-plugin-link-preview)
可预览logseq页面/标签，并且可像logseq主窗口一样编辑。

![image](https://user-images.githubusercontent.com/15712822/154072786-ab245657-a957-4c8d-b7df-f73c23c04606.png)

看大佬你，还有一个插件 [logseq-plugin-wrap](https://github.com/se

[2022-02-15 14:36] aiyou9 commented on #15
👍大佬强，logseq还没发布稳定版，不一定好实现，大佬，加油。

[2022-02-16 01:41] sethyuan commented on #14
可能我没有理解到，我不明白为什么整理层级与当前输入行有关联？我觉得这是两种不同意图的操作。速记的时候你不需要太多考虑层级的问题，就只管记，全部记录好后再来整理一遍大纲。

另外你说的这些整理层级的功能都是Logseq自带就有的功能，我觉得没有必要在插件中重新实现一遍。

[2022-02-16 11:07] aiyou9 commented on #14
嗯，确实，记录与整理融合在一起，确实不好，我对logseq的使用和理解还不够。

[2022-02-16 11:07] #14 closed

[2022-02-16 13:12] sethyuan commented on #15
@aiyou9 我还没做完呢，你怎么就给关了？ 😂

[2022-02-16 14:53] sethyuan commented on #15
已经实现了，v1.9.0，样式可自定义，请参看README。 @aiyou9

[2022-02-17 00:44] #15 closed

[2022-02-21 06:48] aiyou9 opened #16 "功能需求：目录列表，自动翻页"
长文的目录太长，超出右侧栏的页面显示范围，在页面中已经翻页，将光标点击到最后，但是右侧栏目录的凸显，需要手动翻页，才能在目录中显示

如果页面中标题，在目录中，超出当前窗孔，能否自动翻页

示意图：
右侧栏目录超出当前窗口，无法自动翻页，聚焦

在右侧栏，手动滚动翻页，才能显示
![image](https://user-images.githubusercontent.com/15712822/154902769-4f789dd5-ec2c-4821-b037-8feb4f47ee74.png)

[2022-02-21 08:48] sethyuan commented on #16
嗯，确实这样用户体验会更好。我有空看看。

[2022-02-21 09:26] sethyuan commented on #16
@aiyou9 已实现。

[2022-02-28 05:15] #12 closed

[2022-03-04 02:50] aiyou9 opened #17 "功能需求：toc凸显当前光标所在标题，需要监听Tab键与shift+tab键对块的移动，实时跳转"
在使用tab键与shift+tab键，移动块的大纲层级时，toc中凸显标题，未实时跳转

[2022-03-04 03:05] aiyou9 opened #18 "功能需求，toc监听页面上的标题或块层级的展开与收起"
当页面中标题或块层级，通过快捷键，或手动点击，进行展开与收起时，TOC也能够实时监听，实时更新

[2022-03-04 04:04] sethyuan commented on #18
我不赞同将TOC和正文的折叠状态做同步，内容可以同步，但折叠状态不适合同步。例如我折叠TOC的某个层级是为了节省侧边栏空间，但这不代表我也想折叠正文。

[2022-03-04 07:07] sethyuan commented on #17
@aiyou9 Fixed，再试试看呢。

[2022-03-04 11:06] aiyou9 commented on #18
嗯，就像网盘同步一样，有单方向的同步，比如在页面中折叠块，toc自动监听折叠，但是在toc折叠，页面不会随着折叠。
如果可以，可以作为设置中，使用者自己选择，三种选项：

1、页面与TOC双向同步折叠与展开；
2、单向的，页面折叠，TOC同步折叠，但是TOC折叠时，页面不跟随折叠；
3、单向的，TOC折叠，页面同步折叠，但是页面折叠时，TOC不跟随折叠；

# 或者在右下角，回到顶部的TOP悬浮按钮上面，再加一个快捷按钮，用于快速展开与折叠TOC？监听页面的折叠状态，确实不方便，还是快捷键，一键展开与收起#

具体我在实践过程中，再总结一下，主要目的，是为了能够在页面中，不用滚动，就能获取标题和前后段落等不同层次的上下文，作为调整当前输入块层级的参考。

[2022-03-04 11:46] aiyou9 opened #19 "BUG：当前最新版TOC，显示#h标题，如果#h标题，移入到其他非标题块的下一级，TOC不显示"
可能也不算bug
毕竟#h标题一般也不会在非标题块的下一层级
![Snipaste_2022-03-04_19-42-10](https://user-images.githubusercontent.com/15712822/156757425-76c4cd2d-86ff-4a25-bd49-f549f1ef4e2b.png)

[2022-03-04 11:50] #17 closed

[2022-03-04 11:52] sethyuan commented on #19
嗯，插件原本的行为就是这样设计的。你不能把标题放在正文里面，这很奇怪。

[2022-03-04 11:54] #19 closed

[2022-03-04 11:58] aiyou9 commented on #17
已测试，没问题

[2022-03-04 12:06] aiyou9 commented on #18
这个展开与收起快捷按钮，对TOC展示页面所有层级 ，比展示#h标题层级，更有用，可能需要给两个快捷按钮，一个按钮是点击一次，展开一级，，一个是点击一次收起一级，两个方向，实现通过点击，进行来回展开与收起与循环操作。

[2022-03-04 12:19] sethyuan commented on #18
你说的是类似这种展开效果吗？

![image](https://user-images.githubusercontent.com/3410293/156762341-c328f2ed-c35f-4a8c-ac0c-6dd8411d9989.png)

[2022-03-04 12:44] aiyou9 commented on #18
这个图用logseq画的？后面我也用图来描述，学习了

[2022-03-04 12:49] sethyuan commented on #18
不对，咱们好像不在一个频道上，我还是没有理解你想要的效果和为什么要这样做？
至于图，我是用[Excalidraw](https://excalidraw.com/)画的。

[2022-03-04 13:31] aiyou9 opened #20 "BUG：TOC的any模式，如果文字中有数字+英文括号+空格，TOC无法显示，且电脑卡"
![Snipaste_2022-03-04_21-29-32](https://user-images.githubusercontent.com/15712822/156772008-f10a256d-f7d0-4c99-a602-d0bfd37f38c7.png)

[2022-03-04 14:09] sethyuan commented on #20
收到，我排查下。

[2022-03-05 02:35] sethyuan commented on #20
@aiyou9 已找到原因，是因为 1) 这种识别成了markdown语法的有序列表，之前对列表的处理有问题导致的。已fix，不过有序列表会被统一渲染为 `1.` 这种样子。

[2022-03-05 03:31] aiyou9 commented on #20
ok，已测试

[2022-03-05 03:31] #20 closed

[2022-03-07 19:16] KKKIIO opened #21 "Scrolls back to TOC when clicking any content"
Plugin version: v1.10.2
LogSeq version: 0.6.1

With the plugin turned on, when I click on a header or text, the editor almost always scrolls back to the corresponding TOC item.

[2022-03-08 01:37] sethyuan commented on #21
This is a feature implemented to help track "under what block you are currently editing". I see you don't like it, do you have any particular reasons?

[2022-03-08 03:27] sethyuan commented on #21
@KKKIIO Issue fixed, it was a bad decision to add scroll behavior, I have removed it. Please give new version a try.

[2022-03-08 06:39] KKKIIO commented on #21
Thanks for getting back to me so quickly! Now it works as I expected.

[2022-03-08 06:39] #21 closed

[2022-03-14 01:15] #18 closed

[2022-03-22 15:48] nhan000 opened #22 "Clicking the folding line should expand the collapsed state?"
If the TOC is expanded, clicking the folding line collapses the TOC, which is great.

But clicking it again doesn't expand the folded blocks.

I'd expect clicking the folding lines would toggle collapsing the TOC.

[2022-03-25 07:38] oriofdarkforest opened #23 "Typo in default setting file"
The default setting file looks like this:
[code]
`defaultCollaped` should be `defaultCollapsed` or it will not work by changing it to `true`
It also appears in your `readme.md`

Thank you for your great work. Love this plugin.

您好, 默认的设置文件有一个单词错误 `defaultCollaped` -> `defaultCollapsed`
谢谢您的插件, 非常好用

[2022-03-25 07:52] sethyuan commented on #23
Oops, my bad. Thanks for reporting, I updated the plugin.

[2022-03-25 13:16] #23 closed

[2022-03-27 01:59] aiyou9 commented on #18
感谢，用折叠线实现，确实比较好，太自动化，不好适应更广泛的需求

[2022-03-27 02:14] aiyou9 opened #24 "功能探讨：页面或标签，是否能在目录中，也是页面或标签的形式，方便鼠标悬停预览，与点击跳转"
主要探讨问题：在目录中，是否可以增加双链链接，在大纲目录上，加上双链，增加大纲目录的三维深度，为撰写文章时，辅助凝练大纲，提供素材，以此打开思路？

场景1
对标题打标签，对相关内容，进行预览，跳转，进一步为凝练标题，提供素材
![image](https://user-images.githubusercontent.com/15712822/160263490-96dba52a-a91f-4608-8257-d7b2f9c2bef1.png)

![image](https://user-images.githubusercontent.com/15712822/160263619-3eee0c24-9ecf-485c-b778-22a28922f031.png)

场景2
为了使用双链，以下写法，能够兼容大纲层级，toc是否可以支持页面的双链
![image](https://use

[2022-03-27 05:35] sethyuan commented on #24
这个目前Logseq的插件库还实现不了，没有显示悬停预览的API。等以后有支持的时候可以考虑一下。

[2022-03-27 07:06] sethyuan commented on #22
Somehow I missed this issue report. 😅  It's fixed now.

[2022-03-27 18:31] nhan000 commented on #22
works great! thanks a lot!

[2022-03-27 18:31] nhan000 commented on #22
works great! thanks a lot!

[2022-03-27 18:31] #22 closed

[2022-03-28 00:22] aiyou9 commented on #24
嗯，插件能在目录的标题中，添加双链吗？

[2022-03-28 00:26] aiyou9 commented on #21
引起的问题严重吗？个人觉得，这个功能还是有应用场景和价值的，能不能拆分出来，或者提供开关，用于开启这个功能？

[2022-03-28 00:45] sethyuan commented on #24
这个应该不叫双链，就是页面的链接。另外虽然有可能可以添加链接，但是与TOC的用途不符，使用上会有冲突，比如整个标题就是一个页面链接，那么点击时是定位到块自身还是跳转到链接去呢？个人不建议加这个功能。

[2022-03-28 00:45] sethyuan commented on #21
问题很严重，影响了一些正常使用的场景。

[2022-03-28 02:12] aiyou9 commented on #24
toc generate 目前，已经对跳转页面与聚焦模式，区分了，目录大纲支持打标签等双链，个人觉得还是有价值，辅助文章撰写，有一个高层次的视角，同时，通过标签，快速添加相关素材，通过双链的预览，与素材的整理，快速提炼标题。
主要想法，是通过支持双链的目录大纲，与页面区别开了，相当于，提升一个层次，从更高的角度，思考，但是又能，通过双链的关联，实现每个标题的原子化，高细腻度的素材关联与思考，而不是在写作页面里，进行一些素材的查询整理，避免太多的干扰。

这些方面，目前不是一个广泛的需求，因此，此issue先关闭了

[2022-03-28 02:12] #24 closed

[2022-04-16 15:18] TITC opened #25 "[feature request🙋‍♂️] hide the display of footnotes"
你好，感谢提供了如此方便的插件。

但我在使用过程中遇到了一些问题，logseq支持Markdown的footnotes
![脚注](https://discuss.logseq.com/uploads/default/original/2X/e/e40fd46cd7d4a156eef20bb1808f3f12c9061fa1.png)

但是logseq不支持自动增加序号，因此我一般用title作为显示
![image](https://user-images.githubusercontent.com/35098797/163680539-8382379f-42e4-4540-8dbf-4e6e8f564b50.png)
但侧边栏看起来就会很难受
![image](https://user-images.githubusercontent.com/35098797/163680552-

[2022-04-17 13:38] sethyuan commented on #25
是可以做到的，明天有空我看看。

[2022-04-18 01:31] sethyuan commented on #25
已经实现了，请更新下版本看看。

[2022-04-18 01:36] TITC commented on #25
可以了，很感谢

[2022-04-18 01:36] #25 closed

[2022-04-18 08:07] TITC opened #26 "[feature request🙋‍♂️] add an regular expression option for auto ignore"
很感谢你提供的更新 https://github.com/sethyuan/logseq-plugin-tocgen/issues/25#issue-1206138503 ，关于脚注现在表现很好。

但是logseq里还有其他的插件/功能，功能也是在子集标题上做一些触发操作。

譬如

![image](https://user-images.githubusercontent.com/35098797/163777289-9db68d21-1673-45a3-b62a-3734f8d45ac9.png)

`{{renderer :todomaster}}`
想问下这个能不能在配置文件中增加一个选项，不显示符合某些正则表达式的字符串？正则可以用户自己写。

[2022-04-18 10:24] sethyuan commented on #26
我发了新版，针对宏渲染做了隐藏。你再看看。

[2022-04-18 10:44] TITC commented on #26
棒

[2022-04-18 10:44] #26 closed

[2022-04-18 22:44] nhan000 opened #27 "Feature request: Render Latex"
Render Latex Code in TOC
![image](https://user-images.githubusercontent.com/85216095/163888942-5e716d73-89fc-4a78-a723-0856f50f0501.png)

[2022-04-20 00:29] sethyuan commented on #27
I haven't worked with Latex before, I need some time to make some research.

[2022-04-21 03:46] AngeloChen14 opened #28 "Bug: PageJump not working in Logseq 0.6.6"
After upgrade Logseq to 0.6.6, the page button do not jump to the corresponding position anymore.

Platform: Logseq 0.6.6, Linux, tocgen v1.12.6

[2022-04-21 05:21] AngeloChen14 commented on #28
Issue is related to Dev theme, can't reproduce in default theme, close now.

[2022-04-21 05:21] #28 closed

[2022-04-21 05:23] sethyuan commented on #28
I just ran a test on my local copy (macOS Logseq 0.6.6), it seems to work fine. Are all pages not working for you or just a few? I wonder if it's related to Logseq's lazy loading of pages.

[2022-04-21 07:20] AngeloChen14 commented on #28
All pages are not working, the selected block is highlighted, but the page focus doesn't move.
For now it only occurs on the Dev theme, I don't know if it's related to this plugin.

https://user-images.githubusercontent.com/45139524/164396597-82b08b4f-9bcc-45de-9c31-d21df39f6c48.mp4

[2022-04-24 06:24] sethyuan commented on #27
Implemented, FYI.

[2022-04-24 16:22] nhan000 commented on #27
Works great! Thank you so much!

[2022-04-24 16:22] nhan000 commented on #27
Works great! Thank you so much!

[2022-04-24 16:22] #27 closed

[2022-04-24 18:20] nickriches opened #29 ""No active page""
When I try to refer to the active page using "*" I get the message "no active page".

[2022-04-25 01:08] sethyuan commented on #29
You're probably in "Journals", it is not a "real" page but a list of journal pages. It should display fine when you actually click and enter a specific journal entry or any other page therefrom.

[2022-04-26 12:22] #29 closed

[2022-04-29 12:14] PierreBouchet opened #30 "ctrl + click on an alias link doesn't open the original page"
Hi
I think the title says it all.
My page name is : "main page". One of this page's aliases is "Main page variant"
If i click on link called [[main page variant]], it opens "main page". If i ctrl + click it opens "main page variant".
It should in both cases open "main page", shouldn't it ?

Thanks for your work.

[2022-04-29 12:18] #30 closed

[2022-04-29 12:18] PierreBouchet commented on #30
Sorry wrong plugin :D

[2022-05-09 16:23] thiswillbeyourgithub commented on #7
Hi,

I didn't know if I should have created a new issue but here goes:

I ported a very long .docx file to .md and your plugin is incredible to access it. I'm currently on 0.6.7 and found a quite serious bug : `page` links only work if the document has been loaded in RAM apparently.

To be a bit more clear, after putting the toc in the sidebar, to make the `page`links work I need to scroll down in

[2022-05-10 00:48] sethyuan commented on #7
@thiswillbeyourgithub It's maybe better to open an issue of its own, to better track this topic.

[2022-05-10 16:07] thiswillbeyourgithub opened #31 "page link don't work until loaded because of lazy loading"
Hi,

Let me quote the previous message from #7

I said :

@sethyuan  answered:

============= Now :
Thanks for the quick answer and the clear explanation!

I don't really understand how lazy loading can imper the "goto" feature. The goto feature should load the location and go to it, if it has to be loaded already then you're "already there / don't need to go". Hence, if you don't mind me asking,

[2022-05-11 01:00] sethyuan commented on #31
OK, so you want to go technical.

- The "goto" functionality is provided by the Logseq plugin SDK. tocgen uses the SDK to jump.
- The plugin SDK is maintained by the Logseq team.
- The "goto" functionality has unwanted behavior when a page is too long.

Solution to it: report this issue to the Logseq team.

Is this clear?

All I can do is also report this to the Logseq team, which I did several ve

[2022-05-15 02:25] #31 closed

[2022-05-29 08:18] willzhqiang commented on #15
请问每个标题后面显示的h1 h2都是怎么做到的呀，有什么插件吗？ 因为标题之间的差别不大，能像Bear那样显示这个是几级的标题，确实也很方便，我看你们的截图都有，但我没找到是哪个插件实现的？

[2022-05-29 12:44] sethyuan commented on #15
@willzhqiang 有主题支持这种显示，可以翻翻。

[2022-05-30 01:45] willzhqiang commented on #15
https://github.com/pengx17/logseq-dev-theme
感谢，找到了，目前看来这个是支持的。

[2022-06-08 17:05] zhuoqun-chen opened #32 "无法显示三级及以上目录"
作者您好，我的目录页似乎有些问题，无论我输入几级目录，侧边目录始终只能显示两级，效果如下：

<img width="526" alt="Snipaste 2022_06_09_01_02" src="https://user-images.githubusercontent.com/73287160/172674902-217c46a1-08b3-43ca-9fe2-c3f72716a7b0.png">

我的插件配置为：

<img width="708" alt="Snipaste 2022_06_09_01_03" src="https://user-images.githubusercontent.com/73287160/172675010-7d188ee3-7c9a-41c6-ba37-66b475aba253.png">

请问是潜在的 bug 吗还是由于我的配置有问题？期

[2022-06-08 17:44] zhuoqun-chen commented on #32
重启了两次软件，又重新建立了一次索引，突然可以正常显示了。

[2022-06-09 00:31] sethyuan commented on #32
能用了就好，可能是数据的问题，重建索引就相当于重建Logseq内部的数据库。

[2022-06-09 00:31] #32 closed

[2022-06-13 18:29] acsr opened #33 "Feature Request: Make Tags optionally visible in TOC items, from a toggle option in config settings"
I have (imported) content using tags in headlines to be displayed as TOC entries to make them useful (tags are part of readable text)

For me modifying the local ``~/.logseq/plugins/logseq-tocgen/dist/index.****.js`` by commenting out the line containing the code from the source linked below works as workaround but will not survive updates.

[code]

Origin of code: https://github.com/sethyuan/logs

[2022-06-14 00:42] sethyuan commented on #33
Can you try to use the page reference syntax `[[]]` instead of tags `#`? tocgen was designed with the following facts in mind:

- Page reference is used when it's part of the content.
- Tag is used when an "extra" label for the content is needed.

That's why I left page references content intact while I removed tags from the TOC.

[2022-06-14 09:14] acsr commented on #33
I completely agree with you, I have a customer delivering content to me, that rised that issue and I wanted to keep that in sync without change. Your excellent too helped me a lot to keep the overview on those external topics.

One of the challenges of mastering Logseq for people not aware of consequences of their markup is when their experience grows later.

So creating on the fly transformations

[2022-06-14 09:44] #33 closed

[2022-06-17 08:59] Sun-Pengcheng opened #34 "目录不显示标签，是否考虑增加"
您好，对于block的首行里的标签，当前生成的目录中不显示，如用[[]]形式，则目录中可显示。能否在目录中显示标签呢？

虽然Logseq本身标签和页面是一样，但有时候习惯用标签格式，感觉更舒服。如果也能显示就更好了。

举例说明：如block首行包括[[abcd]]，则生成目录中显示abcd；如block首行包括#abcd，则生成目录中不显示。

[2022-06-18 06:44] sethyuan commented on #34
这个不太符合tocgen的设计原则，tocgen的设计原则是标签用来做“额外”标记，正文采用页面引用。如果做支持的话会导致出现在TOC中的标题很乱。

[2022-06-18 09:28] Sun-Pengcheng commented on #34
嗯，理解了，那我就用页面来标示好了，感谢回复~

[2022-06-18 09:28] #34 closed

[2022-07-02 10:42] gsgqgyq opened #35 "可否增加一个展开几级目录的参数设置"
现在的插件相关设置有：默认展开、目录级数，能否增加一个展开几级目录的参数设置？例如：展开3级目录。这样3级以内的目录都是展开状态，更方便跳转一点

[2022-07-02 12:08] sethyuan commented on #35
好主意，我尝试实现下。

[2022-07-02 12:37] sethyuan commented on #35
@gsgqgyq 我发了新版本，实现了这个设置，用这个设置取代了之前的 `defaultCollapsed`。

[2022-07-02 13:47] gsgqgyq commented on #35
那现在可否通过参数指定展示层级呢？就像这样：`{{renderer :tocgen, [[page name]], 1, h}}`

[2022-07-02 23:18] sethyuan commented on #35
这个不能，展开几级是一个全局的设置。虽然也可以实现，但是我觉得没有必要每个TOC都有不同的默认展开级数，这样使用起来是不是太复杂了点。

[2022-07-03 03:45] gsgqgyq commented on #35
我一开始的想法就是不同页面展开不同层级的目录，因为大纲格式有的时候层级真的太深了。你觉得复杂也是对的，现在这样就很好用了。

[2022-07-03 10:08] #35 closed

[2022-07-05 08:45] woden234 opened #36 "能否支持切换页面，自动刷新侧边栏的目录？"
我将toc用到了logseq 的目录上，写了{{renderer :tocgen,*,1}} 这个语法后，目录就随着页面修改而刷新。
但是切换页面后，需要关闭目录后重新打开，才能显示最新的页面内容。
所以能否支持切换页面自动刷新侧边目录的功能？
<img width="1542" alt="image" src="https://user-images.githubusercontent.com/16451600/177288380-a3bae061-837f-4f0a-9ea0-611995530c77.png">

[2022-07-05 08:59] sethyuan commented on #36
能确定一下你所使用的插件版本吗？我自己用最新的版本没有重现这个问题。

[2022-07-05 09:04] woden234 commented on #36
重新打开解决了，可以自动刷新了。谢谢

[2022-07-05 09:26] #36 closed

[2022-07-08 15:00] Horinne opened #37 "动态目录无法识别PDF高亮页的H1-Hn这种heading"
习惯在阅读PDF时直接在PDF高亮页对高亮内容整理，但发现插件无法对此生效。

[2022-07-09 12:58] #37 closed

[2022-07-10 12:07] zqinmiao opened #38 "将所有的不同层级的标题都作为一级目录显示了出来"
![image](https://user-images.githubusercontent.com/12278003/178144100-a4efa14e-a65a-428b-a316-3954f396867f.png)

如图，markdown中的一级标题：`SystemJS 不同的使用方法`、二级标题：`官方推荐以<script>标签的形式引入`，在左侧的目录树中都作为了一级目录显示。

预期：二级标题应当与一级标题为父子关系。

[2022-07-11 00:45] sethyuan commented on #38
TOC Generator是依靠块层级而不是Markdown来生成大纲的，这匹配Logseq是一个Outliner的设计初衷，因此你说的这种用法是不被支持的。

[2022-07-11 01:03] sethyuan commented on #37
我测试了一下，是可以的呀。像这样 `## ((62cb7628-dcb6-4805-8a56-a6d62ce5fe79))`，是可以正常识别出来的。

[2022-07-11 04:09] Horinne commented on #37
感谢回复，已解决问题，我自己的问题，所以我把Issue关闭啦

[2022-07-11 06:02] zqinmiao commented on #38
好的，明白了。谢谢

[2022-07-11 06:02] #38 closed

[2022-07-28 15:01] alca7raz commented on #38
建议将这个问题加入Readme

[2022-07-29 01:03] sethyuan commented on #38
👌

[2022-08-06 09:57] yoyurec opened #39 "Translations: Error 404 in console"
Plugin trys to get unexesting translation:
`index.c8f77771.js:21 GET https://raw.githubusercontent.com/sethyuan/logseq-plugin-tocgen/master/src/translations/en-US.json 404`

[2022-08-07 02:42] sethyuan commented on #39
It's by design. The l10n library will try to load a remote translation if no builtin translation is found. If no remote translation is found neither, it will fallback to use the default translation, which is usually English.

The builtin locale is "en" and yours is "en-US", hence it triggered a remote loading attempt. You can safely ignore it, this is only called once when the plugin is first load

[2022-08-07 11:06] yoyurec commented on #39
understand, tnx

[2022-08-07 11:06] #39 closed

[2022-08-13 02:34] arpir opened #40 "TOC的展开和收起图标样式能够保持和 logseq 的一致吗"
logseq 的 UI 就有展开和收起的图标，看到TOC的与它不一致，浑身不舒服……
- 收起时，![5WHdj6](https://cdn.jsdelivr.net/gh/arpir/Pics@main/2022/08/13/5WHdj6.png)
- 展开时，![V5bHu1](https://cdn.jsdelivr.net/gh/arpir/Pics@main/2022/08/13/V5bHu1.png)

[2022-08-13 03:25] arpir commented on #40
理解了，目录也是一个页面，它也存在层级。（也许那个下拉，展开的箭头没有必要，整体的样式保持与系统的一致就好了

[2022-08-15 00:35] sethyuan commented on #40
我没看到有什么必要性，如果反馈的人多了再看看吧。

[2022-08-15 00:35] #40 closed

[2022-08-24 12:23] Gitbreast opened #41 "功能增强：字数显示限制 及 指定忽略某block"
1. 有时某些块或子块内容比较长，且从逻辑上确实是跟同级的块并列的，不好再开一个块藏起来，这时如果toc涉及它的层级，就会显示一大段很长的话在目录中，影响观看，为了易于观看只能减少级数避免toc到它（有可能是第二层）。
改进提议：是否能在设置中添加一个填空，让用户设置硬性限制显示前N个字符，后面接一个省略号“……”表示未完，默认值为0即不限制显示字数。
2. 有时确实完全不想让某些块及其子块显示在toc中（各种原因：长度长、不从属于主逻辑却有关、重要性较次的备注等），通过将其它块改h1~h6来忽略个别的块及其子块实在麻烦。
改进提议：是否可以通过为个别块添加属性如 `toc:: false` 或添加tag如 `#tocfalse` 类似途径来忽略此块及其子块。

Plus. 一个次要的bug，高亮`==123==`和粗体`**123**`或斜体`*123*`同时出现如`==**123**=

[2022-08-25 00:53] sethyuan commented on #41
嗯，应该是可以实现的，我看看有空加一下这两个功能。
另外提到的bug我也看一下。

[2022-08-25 02:48] sethyuan commented on #41
关于 1 我又想了一下，设置字符数不是太好，因为中英文字符宽度不一样，而且英文不等宽字体字符与字符间宽度也不一样，也就是说同样100个字符，根据内容，有的情况下只有一行，有的情况下有两行。另外右侧边栏的宽度也不固定，你现在设置100个字符合适，宽度一变，又不合适了。

感觉还是得从内容本身着手，例如标题就不应该太长，长也只能认了。

[2022-08-25 04:13] sethyuan commented on #41
2 和 bug 已经都弄好了，可以试试新版本。

[2022-08-25 08:11] Gitbreast commented on #41
@sethyuan 感谢！2 的功能比较关键，更新已经可以使用了。1 这么说确实也有道理，个别情况我可以通过直接取字加省略号做一个父块，不想显示的情况下可以用 2 进行隐藏了。

[2022-08-25 08:11] #41 closed

[2022-09-18 02:48] lzuliuyun opened #42 "目录支持增加章节数字序号"
首先非常感谢作者编写插件，可以自动生成目录，很方便的查看文档大纲内容。不过个人使用感觉有一点不习惯，看是否可以支持下。
1.   首先大纲能否支持展示章节数字序号，这样容易查看定位到具体的某个章节。比如：
<img width="166" alt="image" src="https://user-images.githubusercontent.com/6896562/190883384-e475e821-5273-4813-b24b-409cccc44ae9.png">

2.  其次每个标题带了一个“页面”字样，是否可以去掉呢？既然是大纲，就只展示标题就好了。不够这里似乎是其他插件的问题？
 <img width="252" alt="image" src="https://user-images.githubusercontent.com/6896562/190883279-b01

[2022-09-18 12:05] sethyuan commented on #42
1. 有空我可以加个设置看看，毕竟不是所有人都想要这个效果。
2. 那个“页面”是另一种跳转效果，如果你不想要的话可以通过设置里面的 `noPageJump` 去掉。

[2022-09-19 02:45] sethyuan commented on #42
我在想加序号这个需求是否应该做在内容本身上，而不是TOC上。例如内容本身就维护了序号，那不是会和TOC生成的重复了？

另外加序号容易定位到章节的这个说法到底是不是成立的？有什么依据？如果是要定位当前光标所处位置在哪个章节的话目前插件已经实现了这个效果，所在章节层级都会高亮显示。

[2022-09-27 07:17] mzwlevi opened #43 "The 0 level expaneded by default do not work"
<img width="696" alt="Screen Shot 2022-09-27 at 15 14 04" src="https://user-images.githubusercontent.com/78029539/192458867-74b02fdb-95b0-4760-8f39-20372f924283.png">
<img width="696" alt="Screen Shot 2022-09-27 at 15 14 40" src="https://user-images.githubusercontent.com/78029539/192458920-71f26078-75f5-4cf9-9444-2b52bf9e6ec1.png">

[2022-09-27 09:17] sethyuan commented on #43
Good catch!

It is fixed now and a new version is released, please give it a try.

[2022-09-28 00:34] #43 closed

[2022-09-29 10:02] ruanima opened #44 "增加通过移动目录项目来移动关联的block的功能"
![image](https://user-images.githubusercontent.com/14031394/193002157-5f62e88d-d877-46e1-852e-db16ea05d3d4.png)

为了便于对内容较多的页面进行整理，希望能通过移动目录项目来直接移动相关内容。
如图这个目录，如果把第二项移动到最前面，相应的也把对应的内容block移动到页面开头。

[2022-09-30 00:24] sethyuan commented on #44
挺好的想法，我抽空实现一下。

[2022-09-30 00:26] #42 closed

[2022-09-30 05:12] sethyuan commented on #44
我翻了一下我的笔记，发现我4月份的时候就想过这个功能，结果发现拖拽因Logseq上层的操作导致触发不了就放弃了。当时还在discord中反映过这个问题，没有下文。我再在discord里问下，看看Logseq能不能解决。

[2022-09-30 09:47] ruanima commented on #44
前端不咋熟悉，没想到限制这么多

[2022-10-09 17:46] aiyou9 opened #45 "【功能增强】右侧目录列表，点击页面，无法跳转到嵌入页面的相应位置"
使用{{embed [[Project]]}} 在页面嵌入，右侧目录使用{{renderer :tocgen, *, 3}} ，点击页面按钮，无法跳转到嵌入页面的相应位置如果没法实现，希望点击页面按钮，能展开嵌入页面，显示所有内容

[2022-10-10 06:24] sethyuan commented on #45
能否截个图来看看，我这边是可以的。

![image](https://user-images.githubusercontent.com/3410293/194808472-8d3c1c20-dc7f-4ec3-ae5d-d5fb1cea04fa.png)

目前点嵌入页的“页面”会带你到它第一个块的位置。另外一般点”页面“不起作用是内容的延迟加载导致的，可以检查下这种情况，如果是这种情况则需要先滚动下页面，将要定位到的内容加载出来。

[2022-10-14 01:04] aiyou9 commented on #45
我这里是没有展开引用快，导致无法跳转的，确实跳转块，聚焦更好，多谢！！！

[2022-10-14 01:04] #45 closed

[2022-10-15 10:23] drawingthesun opened #47 "Is there anyway to have the menu unfolded?"
I have a page where I generated 4 levels of TOC and that works very well, but I have to click the arrows and unfold each menu item.

Is there a way to ensure all levels are unfolded?

Edit: I know there is a default option, I want a way to by pass that, so on a menu by menu basis.

[2022-10-15 10:50] sethyuan commented on #47
What if I provide two buttons? "Collapse All" and "Expand All" for each TOC.

[2022-10-15 11:30] drawingthesun commented on #47
Yeah that would awesome thank you!

[2022-10-17 06:58] sethyuan commented on #47
@drawingthesun It's implemented, please check the new version.

[2022-10-17 11:39] FloatingGuy opened #48 "logseq 0.8.8 插件不工作"
插件版本：1.20

测试：
{{renderer :tocgen}}

[2022-10-17 13:05] sethyuan commented on #48
能给个具体的示例吗？我这边看到都是好的。

[2022-10-18 02:28] FloatingGuy commented on #48
<img width="455" alt="Snipaste_2022-10-18_10-27-51" src="https://user-images.githubusercontent.com/6472909/196321248-2c027d8e-ec0f-45bb-b17c-d288d0caf06d.png">

[2022-10-18 03:11] sethyuan commented on #48
你是怎么安装的插件呢？是通过插件市场吗？方便的话可以按 `cmd+opt+i` 或者 `ctrl+shift+i` 打开console，再输入一下TOC看看具体是什么错。

[2022-10-18 05:18] FloatingGuy commented on #48
我是手动下载 release 安装包，替换plugins 目录下的插件目录。
<img width="850" alt="Snipaste_2022-10-18_13-14-20" src="https://user-images.githubusercontent.com/6472909/196341709-af23d24c-3c2c-44bd-a595-14af851c6646.png">
<img width="1088" alt="Snipaste_2022-10-18_13-17-21" src="https://user-images.githubusercontent.com/6472909/196341739-c6a6b990-e3e3-4441-9d73-a110cc1921c9.png">

[2022-10-18 05:25] sethyuan commented on #48
看起来就是这个原因导致的。建议使用插件市场安装，或者你可以尝试开开发者模式，然后在插件页加载插件。

![image](https://user-images.githubusercontent.com/3410293/196342665-34592d7d-1315-4a7c-aad3-d8c481bdf678.png)

[2022-10-18 07:49] #48 closed

[2022-10-18 07:50] sethyuan commented on #44
好消息，拖拽已经实现了，可以用新版本尝试下看看。 @ruanima

[2022-10-18 09:07] #44 closed

[2022-10-18 10:15] FloatingGuy commented on #48
🙏感谢， 问题解决。

[2022-10-18 12:27] ruanima commented on #44
更新试用了，效果非常好o(￣▽￣)ｄ

[2022-10-19 06:20] #47 closed